{% extends "base.html" %}

{% block title %}The Three Ways of DevOps{% endblock %}

{% block content %}
    <div class="module">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <h1>The Three Ways of DevOps</h1>
        <h3 style="text-align: center;">1. System Thinking</h3>
        <br><br>
        <div style="float: left;">
            &nbsp;&nbsp;&nbsp;
            <a href="/quiz">Back to The DevOps Lessons</a>
        </div>
        <div style="float: right;">
            <a href="/quiz/lesson/11">Go to Next Page</a>
            &nbsp;&nbsp;&nbsp;
        </div>
    </div>
{% endblock content %}