{% extends "base.html" %}
{% block content %}
    <div class="module">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <h3>The Small Batches Principle</h3>
        <h4>Doing work in small batches other than big batches.</h4>
        </br></br>
        <div style="float: left;">
            &nbsp;&nbsp;&nbsp;
            <a href="/quiz">Back to The DevOps Lessons</a>
        </div>
        <div style="float: right;">
            <a href="/quiz/lesson/21">Go to Next Page</a>
            &nbsp;&nbsp;&nbsp;
        </div>
    </div>
{% endblock content %}