{% extends "base.html" %}
{% block content %}
    <div class="module">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <h1>Minimum Viable Product</h1>
        <h3 style="text-align: center;">Delivering some values as soon as possible.</h3>
        </br></br>
        <div style="float: left;">
            &nbsp;&nbsp;&nbsp;
            <a href="/quiz/lesson/2">Go to Previous Page</a>
        </div>
        <div style="float: right;">
            Take Quiz: <a href="/quiz/{{ quiz.id }}/">{{ quiz.title }}</a>
            &nbsp;&nbsp;&nbsp;
        </div>
        </br></br>
    </div>
{% endblock content %}