{% extends "base.html" %}
{% block content %}
    <div class="module">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <a href="/quiz/lesson/11">Previous Page</a>
        <h3>The Three Ways of DevOps</h3>
        <h4>3. Culture of Continual Experimentation and Learning</h4>
        <figure>
            <iframe width="600" height="400"
                    src="https://www.youtube.com/embed/3uVdRpjn8iA" frameborder="0"
                    allow="autoplay; encrypted-media" allowfullscreen>
            </iframe>
            <figcaption>
                Stack Overflow SRE Manager Thomas Limoncelli talks about DevOps. 
            </figcaption>
        </figure>
        <a href="https://www.usenix.org/conference/lisa16/conference-program/presentation/limoncelli">More info about the talk</a>
        </br></br>
        <a href="/quiz/{{ quiz.id }}/">Take Quiz: {{ quiz.title }}</a>
    </div>
{% endblock content %}
