{% extends "base.html" %}
{% block content %}
<div class="module">
        <h1>
            Agile Principles
        </h1>
        <ol>
            <li>
            Highest priority is customer satisfaction
            </li>
            <li>
            Welcome changing requirements
            </li>
            <li>
            Frequent delivery of software
            </li>
            <li>
            Business people and developers cooperating daily
            </li>
            <li>
            Build projects around motivated people
            </li>
            <li>
            Face-to-face conversation is best
            </li>
            <li>
            Progress measured by working software
            </li>
            <li>
            Sustainable development pace
            </li>
            <li>
            Continuous attention to technical excellence
            </li>
            <li>
            Simplicity
            </li>
            <li>
            Self-organizing teams
            </li>
            <li>
            Regular reflection and adaptation
            </li>
        </ol>
{% endblock content %}